body {
    background-color: #FFD700; /* Color de fondo amarillo dorado */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    background-color: #FFF; /* Color de fondo blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
}

header {
    text-align: center;
    color: #008080; /* Color del texto - turquesa oscuro */
}

label {
    display: block;
    margin-top: 15px;
    color: #008080; /* Color del texto - turquesa oscuro */
}

input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #008080; /* Color del borde - turquesa oscuro */
    border-radius: 5px;
}

button {
    background-color: #008080; /* Color de fondo - turquesa oscuro */
    color: #FFF; /* Color del texto - blanco */
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #006666; /* Color de fondo al pasar el mouse - turquesa */
}
