body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    color: #555;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
}

.ID{
    border: 1px solid black;
}

#titulo {
    width: calc(100% - 20px);
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}