body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

h2 {
    color: #333;
}

#controles {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

#infoUsuario {
    margin-top: 20px;
    text-align: center;
}

p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
