body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff; /* Color de fondo del header */
    color: #fff; /* Color del texto del header */
    padding: 20px;
}

h1 {
    margin: 0;
}

h3 {
    color: #555;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}
