body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

center {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #388e3c;
    color: #fff;
    padding: 10px;
    width: 100%;
}

h2 {
    margin: 0;
}

h3 {
    color: #333;
}

label {
    margin-top: 10px;
}

select {
    margin-top: 5px;
    margin: 5px;
    padding: 8px;
    font-size: 15px;
}

button {
    margin-top: 5px;
    padding: 8px;
}

img {
    width: 30%;
    height: 40%;
    margin-top: 10px;
    border: 2px solid black;
}

#btnVer {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
}


